@import url(./normalise.css);
@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --black: #0C0C0C;
    --white: #ffffff;
}

body {
    font-family: "Host Grotesk", sans-serif;
}

.page__wrapper {
    height: 100vh;
    background-color: var(--black);
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
}

h1 {
    margin: 0;
    font-size: 3rem;
    font-weight: 800;
}

footer {
    background-color: var(--black);
    color: var(--white);
    padding: 1.5rem;
    text-align: center;
}